.navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: fixed;
    z-index: 40;
    top: 0;
    .navbar-logo{
        width: 150px;
        height: 150px;
        margin-left: 20px;
    }
    .navbar-search{
        border: none;
        padding: 10px;
        width: 500px;
        border-radius: 20px;
        font-size:medium;
        font-weight: 600;
        background-color: rgba(243, 243, 243, 0.411);
        color: #3a3a3a;
    }
    .navbar-search:focus{
        border: none;
        outline: none;
    }
    .user-container{
        position: relative;
    }
    .user-container button{
        background: none;
        border: none;
        cursor: pointer;
    }
    .user-logo{
        width: 50px;
        height: 50px;
        margin-right: 50px;
        border-radius: 50%;
    }
    .user-modal{
        position: absolute;
        background: rgba(0, 0, 0, 0.712);
        color: #fff;
        padding: 5px;
        width: 100px;
        top: 70px;
        left: -20px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        .modal-arrow{
            position: absolute;
            top: -15px;
            left: 40px;
            color: rgba(0, 0, 0, 0.712);
            font-size: x-large;
        }
    }
}